<div class="container" style="padding-left:0; padding-right: 0; max-width: 90vw;">

  <div class="card building-card" style="margin-bottom: 10px;">
    <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="row">
        <div class="col-6">
          <div class="btn-group">
            <h4 style="margin-right: 20px;">楼号选择</h4>
            <button type="button" class="btn dropdown-toggle text-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style=" min-width: 100px;"
            >
              {{currentBuilding.name}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">1#楼</a>
              <a class="dropdown-item" href="#">2#楼</a>
              <a class="dropdown-item" href="#">3#楼</a>
            </div>
          </div>
        </div>
        <div class="col-6 text-right">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success"
              (click)="addFloor()">
              <i class="fa fa-plus" aria-hidden="true"></i>
              添加新楼层
            </button>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-minus" aria-hidden="true"></i>
              删除选中楼层
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9" style="padding-right: 0;">
      <form [formGroup]="buildingForm">
        
        <div formArrayName="floors">
          <div class="card floor-card" 
            *ngFor="let floor of buildingForm.get('floors')['controls']; let ifloor = index"
            [formGroupName]="ifloor">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-2">
                  
                  <input type="text" formControlName="name" placeholder="楼层名称"
                    style="width: 100%; text-align: center;">
                  <p style="text-align: center;">楼层</p>
                  <button type="button" class="btn btn-danger btn-sm btn-block  "
                    (click)="deleteFloor(ifloor)" >
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    删除该层
                  </button>

                </div>

                <div class="col-10" formArrayName="walls">
                    <table class="table table-hover"
                    style="width: 100%;">
                      <thead>
                        <tr>
                          <th class="wall-input-head" style="width: 20%;" scope="col">墙面类型</th>
                          <th class="wall-input-head" scope="col">厚度</th>
                          <th class="wall-input-head" scope="col">总长</th>
                          <th class="wall-input-head" scope="col">板下总高</th>
                          <th class="wall-input-head" scope="col">梁高</th>
                          <th class="wall-input-head" scope="col">梁长</th>
                          <th class="wall-input-head" style="width: 5%;" scope="col">删除</th>
                        </tr>
                      </thead>
                      <tbody> 
                          <tr class="wall-table-row" *ngFor="let wall of floor.get('walls')['controls'];
                            let wallIndex = index" [formGroupName]="wallIndex">
                              <td style="width: 20%;">
                                <div class="input-group input-group-sm mb-3 wall-input-group">
                                  <select id="inputState" class="form-control" 
                                    formControlName="name" #t 
                                    (change)="onSelectWall(t.value, wall)">
                                    <option *ngFor="let wall of availableWallList; let iwall = index" value="{{wall.name}}">
                                      {{wall.name}}
                                    </option> 
                                  </select>
                                </div>
                              </td>
                              <td>
                                <div class="input-group input-group-sm mb-3 wall-input-group">
                                  <input type="text" readonly class="form-control"
                                    formControlName="thickness" placeholder="0"  aria-describedby="basic-addon2">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="input-group input-group-sm mb-3 wall-input-group">
                                  <input type="text" class="form-control" placeholder="0"  aria-describedby="basic-addon3"
                                    formControlName="totLengh" >
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon3">m</span>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="input-group input-group-sm mb-3 wall-input-group">
                                  <input type="text" class="form-control" placeholder="0"  aria-describedby="basic-addon4"
                                    formControlName="depUnderBoard">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon4">m</span>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="input-group input-group-sm mb-3 wall-input-group">
                                  <input type="text" class="form-control" placeholder="0"  aria-describedby="basic-addon5"
                                    formControlName="beamDepth">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon5">m</span>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <!-- <input class="wall-table-input" formControlName="name"> -->
                                <div class="input-group input-group-sm mb-3 wall-input-group" formGroupName="preDeductable">
                                  <input type="text" class="form-control" placeholder="0"  aria-describedby="basic-addon6"
                                    formControlName="beamLength">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon6">m</span>
                                  </div>
                                </div>
                              </td>
                              <td style="width: 5%;">
                                <button type="button" class="btn btn-danger btn-sm btn-block  "
                                  (click)="deleteWall(floor, wallIndex)" >
                                  <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                              </td>
                          </tr>
                      </tbody>
                    </table>

                    <!-- <div class="row" *ngFor="let wall of floor.get('walls')['controls'];
                              let wallIndex = index" [formGroupName]="wallIndex">

                        <div class="col-2">

                        </div>
                      <input formControlName="name"/>
                      <input type="text" >
                    </div> -->

                    <button type="button" class="btn btn-success btn-sm btn-block"
                    style="margin-right: -15px; margin-left: -15px;"
                      (click)="addWall(floor)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                      添加新墙面
                    </button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div class="col-3">
      <div class="card" >
        <div class="card-body">
          
          <h4 class="card-title align-items-right">{{currentBuilding.name}}小结</h4>
          <p class="card-text"> 面积（未减去墙洞） </p>
          <h4 class="sum-data"> {{currentBuilding.data.sumSurface}} m<sup>2</sup> </h4>
          <p class="card-text"> 体积（未减去墙洞） </p>
          <h4 class="sum-data"> {{currentBuilding.data.sumVolume}} m<sup>3</sup> </h4>

          <button type="button" class="btn btn-primary btn-sm btn-block" 
          (click)="calculateResult()">保存并计算</button>
        </div>
      </div>
    </div>

  </div>
</div>


 