<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand">菜单</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    [ngClass]="{ 'active': getRoute('/wall-mgmt')}">
                    <a class="nav-link navbar-heading" (click)="gotoRoute('wall-mgmt')">墙面类型</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        门窗类型
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="gotoRoute('door-mgmt')">门信息管理</a>
                        <a class="dropdown-item" (click)="gotoRoute('window-mgmt')">窗信息管理</a>
                    </div>
                </li>
                <li class="nav-item"
                    [ngClass]="{ 'active': getRoute('/inputFace')}">
                    <a class="nav-link navbar-heading" (click)="gotoRoute('inputFace')">工程计算</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
