.curr-directory {
    color:black;
    margin-left: 10px;
}

.navbar {
    margin-bottom: 10px;
}

.navbar-brand:hover {
    cursor: pointer;
}

.navbar-heading:hover {
    color: #04c5cd;
    cursor: pointer;
}
